<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
</head>
{{ $newsletterRecipient := .Site.Params.newsletter.recipient | default .Site.Params.contactEmail }}
<body
  class="site-body {{ if .IsHome }}is-home{{ else }}section-{{ .Section }} kind-{{ .Kind }}{{ end }}"
  data-newsletter-provider="{{ .Site.Params.newsletter.provider }}"
  data-newsletter-action="{{ .Site.Params.newsletter.action }}"
  data-newsletter-recipient="{{ $newsletterRecipient }}"
  data-newsletter-subject="{{ .Site.Params.newsletter.subject }}"
>
  <a class="skip-link" href="#main-content">Skip to content</a>
  {{ partial "header.html" . }}
  <main id="main-content">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  <script src="{{ "js/site.js" | relURL }}" defer></script>
  <script src="{{ "js/sidebar-nav.js" | relURL }}" defer></script>
  <script src="{{ "js/assessments.js" | relURL }}" defer></script>
  {{ if eq .Section "assessments" }}
    <script src="{{ "js/system-assessments.js" | relURL }}" defer></script>
  {{ end }}
</body>
</html>
